body{
    margin: 0;
}

#login{
    height: 4vh;
}

#nav{
    background-color: #2980B9;

}

li:hover{
    background-color: #ffffff;
}

.imagen-redimensionada{
    width: 3.5rem;
}

.moved-right-form {
    margin-left: 40vw;
}

.moved-right-nav-item {
    margin-left: 7vw;
}

.activated {
    font-weight: bold;
    color: red;
    background-color: #ffffff;
}

.color-white {
    color: #ffffff;
}

.input-group {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 20px;
    top: 44%;
    transform: translateY(-50%);
    cursor: pointer;
}